/* ==================== base.css ==================== */

html {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Roboto', 'Noto Sans JP', 'Helvetica', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
	font-weight: 300;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
	letter-spacing: 0.04em;
	line-height: 1.6;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}

i.material-icons {
	font-size: inherit;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

p {
	text-align: justify;
	line-height: 1.8;
}

button {
	cursor: pointer;
	outline: none;
}


@media (max-width: 567px) {
	body {
		font-size: 13px;
	}
}
@media (min-width: 568px) {
	body {
		font-size: 0.7rem;
	}
}


/* ==================== classes.css ==================== */

.fl8-btn-black {
	background: linear-gradient(black, black) no-repeat 100% 0%;
	background-size: 200% 100%;
	color: white;
	transition:
		background-image 0 50ms,
		background-position 400ms 50ms;
}
.fl8-btn-black:hover {
	background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.0) 50%);
	background-position: 0% 0%;
}

.fl8-btn-white {
	position: relative;
	border: 0.5px solid black;
}
.fl8-btn-white::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Material Icons';
	transition: all 250ms;
}

.fl8-btn-white.forward::after {
	right: 0.5em;
	content: 'chevron_right';
}
.fl8-btn-white.back::after {
	left: 0.5em;
	content: 'chevron_left';
}

.fl8-btn-white:not(:hover)::after {
	opacity: 0;
}


@keyframes hover {
	0% {
		background-size: 0.2rem 100%;
		color: rgba(255,255,255,0);
	}
	100% {
		background-size: 100% 100%;
		color: rgba(255,255,255,1);
	}
}


/* ==================== contents.css ==================== */

.Contents section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Contents h2 {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 0.6em;
	margin: 2.5em 0;
	line-height: 1.4;
}
.Contents h2 [lang="ja"] {
	font-size: 57%;
	order: 1;
}
.Contents h2 [lang="en" ] {
	letter-spacing: 0.25em;
	font-family: 'Poppins';
}

/* border */
.Contents h2::before,
.Contents h2::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	height: 0.2rem;
	background: black;
}
.Contents h2::before {
	top: 0;
	width: 100%;
}
.Contents h2::after {
	bottom: 0;
	width: 50%;
	order: 2;
}

@media (max-width: 567px) {
	.Contents {
		padding: 0 1rem;
    margin-bottom: 50px;
	}
}

@media (min-width: 568px) {

	.Contents {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		align-self: center;
		width: 100%;
		max-width: 51.2rem;
		box-sizing: border-box;
		padding: 0 1rem;
    margin-bottom: 100px;
	}

	body:not(.index) .Contents h2 {
		font-size: 175%;
	}

}


/* ==================== generalmenu.css ==================== */

.GeneralMenu {
	margin-top: 3rem;
}

.GeneralMenu ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 400;
	line-height: 2.5;
}

.GeneralMenu li {
	border: 0.5px solid black;
	border-width: 0 1px;
}
.GeneralMenu li:nth-of-type(n+2) {
	border-left: none;
}

.GeneralMenu li a {
	padding: 0 1em;
}

@media (max-width: 567px) {
	.GeneralMenu ul {
		justify-content: center;
	}
}

@media (min-width: 568px) {
	.GeneralMenu ul {
		justify-content: flex-end;
		font-size: 115%;
	}
}


/* ==================== head.css ==================== */

.Head {
  padding-top: 120px;
	margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .Head {
    padding-top: 90px;
  }
}

.Head .pankuzu ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Head .pankuzu a {
	display: flex;
	align-items: center;
}

.Head .pankuzu li:nth-of-type(1) a {
	font-size: 120%;
}

.Head .pankuzu li:nth-of-type(n+2) a {
	padding-left: 0.5em;
}
.Head .pankuzu li:nth-of-type(n+2) a::before {
	display: inline-block;
	content: 'chevron_right';
	margin-right: 0.25em;
	font-family: 'Material Icons';
}


.Head .title {
	display: flex;
	margin-top: 0.5rem;
}
.Head .title h1 {
	border-left: 0.3rem solid black;
	margin: 0;
	padding-left: 0.75rem;
	display: flex;
	flex-direction: column;
	line-height: 1.4;
}
.Head .title h1 [lang="ja"] {
	font-size: 50%;
	order: 1;
}
.Head .title h1 [lang="en"] {
	font-family: 'Poppins';
	letter-spacing: 0.1em;
}

@media (max-width: 567px) {
	.Head .title h1 {
		font-size: 250%;
	}
}

@media (min-width: 768px) {
	.Head .title h1 {
		font-size: 300%;
	}
}.Head .pankuzu {
	padding-left: 0.75rem;
	border-left: 0.3rem solid black;
}


/* ==================== sidemenu.css ==================== */

.Sidemenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Sidemenu a {
	display: flex;
	align-items: center;
}

.Sidemenu a::before {
	content: 'keyboard_arrow_down';
	margin-right: 0.25em;
	font-family: 'Material Icons';
}


/* scroll */

.Sidemenu.scroll {
	display: flex;
	overflow: visible;
	position: fixed;
	z-index: 9;
	right: 0;
	width: 0;
	height: 0;
}

.Sidemenu.scroll nav,
.Sidemenu.scroll button {
	position: absolute;
	right: 0;
	top: 0;
	background: black;
	color: white;
}

.Sidemenu.scroll nav {
	white-space: nowrap;
}

.Sidemenu.scroll nav ul {
	padding: 0.5rem 0.75rem;
	padding-right: 2.5rem;
}
.Sidemenu.scroll nav li {
	line-height: 2.75;
}
.Sidemenu.scroll nav li:nth-of-type(n+2) {
	border-top: 0.5px solid rgba(255,255,255,0.5);
}

.Sidemenu.scroll li a {
	padding: 0 0.25em;
}

.Sidemenu.scroll button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 4rem;
	border: none;
	margin: 0;
	padding: 0;
	font-size: inherit;
	outline: none;
}
.Sidemenu.scroll button i {
	font-size: 200%;
}
.Sidemenu:not(.scroll) button {
	display: none;
}


/* open / close */

.Sidemenu.scroll:not(.open) nav {
	transform: translateX(100%);
}
.Sidemenu.scroll.open nav {
	transform: none;
	transition: transform 400ms;
}

.Sidemenu.open button i {
	transition: transform 400ms ease;
	transform: rotate(-180deg);
}


@media (max-width: 567px) {
}


@media (min-width: 568px) {

	/* normal */
	.Sidemenu:not(.scroll) nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.Sidemenu:not(.scroll) nav li {
		margin-left: 2em;
		line-height: 2.25;
		font-weight: 400;
	}

	/* scroll */
	.Sidemenu.scroll {
		animation-name: sidemenu-scroll;
		animation-duration: 800ms;
		animation-iteration-count: 1;
	}

}


@keyframes sidemenu-scroll {
	from {
		transform: translateY(-50vh);
	}
	to {
		transform: none;
	}
}